* {
    box-sizing: border-box;
  }
  body {
    font-family: "PT Sans", sans-serif;
    font-size: 12px;
    line-height: 1em;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }
  section.background {
    background: url("images/bg01.jpg") no-repeat center;
    background-size: cover;
    background-color: rgba(248, 247, 216, 0.9);
    filter: blur(1px);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -15px -5px -35px -15px ;
  }
  .user-authentication {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90vh;
  }
  .user-authentication button {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  nav.heading {
    background-color: rgb(227, 238, 238);
    color: rgb(216, 216, 230);
    margin: 15px  10px  10px 120px;
    font-size: 35px;
    padding: 15px;
    width: 350px;
    opacity: 0.6;
    border: 1px solid white;
    border-radius: 5px;
  }
  a {
    font-family: "PT Sans", sans-serif;
    text-decoration: none;
    color:#f0534dea
  }
  a:hover {
      color: rgb(99, 96, 96);
  }
  nav.heading:hover {
      color: rgb(22, 21, 21);
      background-color: white;
  }
  .user-authentication input {
    background-color: transparent;
    padding: 0;
    border: 0;
    outline: 0;
  }
  .user-authentication input::-webkit-input-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  .user-authentication input:-ms-input-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  .user-authentication input::-ms-input-placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  .user-authentication input::placeholder {
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
    color: #ccc;
  }
  .user-authentication button[type="submit"] {
    cursor: pointer;
  }
  .user-authentication .user_options-container {
    position: relative;
    width: 80%;
  }
  .user-authentication .user_options-text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(34, 34, 34, 0.85);
    border-radius: 5px;
  }
  .user-authentication .user_options-registered,
  .user-authentication .user_options-unregistered {
    width: 50%;
    padding: 75px 45px;
    color: #fff;
    font-weight: 300;
  }
  .user-authentication .user_registered-title,
  .user-authentication .user_unregistered-title {
    margin-bottom: 15px;
    font-size: 1.66rem;
    line-height: 1em;
  }
  .user-authentication .user_registered-text,
  .user-authentication .user_unregistered-text {
    font-size: 0.85rem;
    line-height: 1.4em;
    letter-spacing: 0.5px;
  }
  .user-authentication .user_registered-login,
  .user-authentication .user_unregistered-signup {
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 30px;
    color: #fff;
    text-transform: uppercase;
    line-height: 1em;
    letter-spacing: 0.2rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .user-authentication .user_registered-login:hover,
  .user-authentication .user_unregistered-signup:hover {
    color: rgba(34, 34, 34, 0.85);
    background-color: #ccc;
  }
  .user-authentication .user_options-forms {
    position: absolute;
    top: 50%;
    left: 30px;
    width: calc(50% - 30px);
    min-height: 420px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 2px 0 15px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
    transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
  }
  .user-authentication .user_options-forms .user_forms-login,
  .user-authentication .user_options-forms .user_forms-signup,
  .user-authentication .user_options-forms .user_forms-forgot {
    position: absolute;
    top: 80px;
    left: 40px;
    width: calc(100% - 80px);
    transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out, transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  }
  .user-authentication .user_options-forms .user_forms-login {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .user-authentication .user_options-forms .user_forms-signup {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(120px, 0, 0);
            transform: translate3d(120px, 0, 0);
  }
  .user-authentication .user_options-forms .user_forms-signup .forms_buttons {
    justify-content: flex-end;
  }
  .user-authentication .user_options-forms .user_forms-forgot {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(120px, 0, 0);
            transform: translate3d(120px, 0, 0);
  }
  .user-authentication .user_options-forms .forms_title {
    margin-bottom: 45px;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    color: #e8716d;
    letter-spacing: 0.1rem;
  }
  .user-authentication .user_options-forms .forms_field:not(:last-of-type) {
    margin-bottom: 20px;
  }
  .user-authentication .user_options-forms .forms_field-input {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 6px 20px 6px 0;
    font-size: 1rem;
    font-weight: 300;
    color: gray;
    letter-spacing: 0.1rem;
    transition: border-color 0.2s ease-in-out;
  }
  .user-authentication .user_options-forms .forms_field-input:focus {
    border-color: gray;
  }
  .user-authentication .user_options-forms .forms_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
  }
  .user-authentication .user_options-forms .forms_buttons-forgot {
    letter-spacing: 0.1rem;
    color: #ccc;
    text-decoration: underline;
    transition: color 0.2s ease-in-out;
  }
  .user-authentication .user_options-forms .forms_buttons-forgot:hover {
    color: #ccc;
  }
  .user-authentication .user_options-forms .forms_buttons-action {
    background-color: #e8716d;
    border-radius: 3px;
    padding: 10px 35px;
    font-size: 1rem;
    font-weight: 300;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: background-color 0.2s ease-in-out;
  }
  .user-authentication .user_options-forms .forms_buttons-action:hover {
    background-color: #e14641;
  }
  .user-authentication .user_options-forms .forms_buttons-mb-button {
    display: none;
  }
  .user-authentication .user_options-forms.show-signup {
    display: block;
    -webkit-transform: translate3d(2%, -50%, 0);
            transform: translate3d(2%, -50%, 0);
  }
  .user-authentication .user_options-forms.show-signup .user_forms-login {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(-150%, 0%, 0);
            transform: translate3d(-150%, 0%, 0);
  }
  .user-authentication .user_options-forms.show-signup .user_forms-signup {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .user-authentication .user_options-forms.show-login {
    display: block;
    -webkit-transform: translate3d(2%, -50%, 0);
            transform: translate3d(2%, -50%, 0);
  }
  .user-authentication .user_options-forms.show-login .user_forms-signup {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(150%, 0%, 0);
            transform: translate3d(150%, 0%, 0);
  }
  .user-authentication .user_options-forms.show-login .user_forms-login {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .user-authentication .user_options-forms.show-forgotPass {
    display: block;
    -webkit-transform: translate3d(100%, -50%, 0);
            transform: translate3d(100%, -50%, 0);
  }
  .user-authentication .user_options-forms.show-forgotPass .user_forms-forgot {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .user-authentication .user_options-forms.show-forgotPass .user_forms-signup {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(150%, 0%, 0);
            transform: translate3d(150%, 0%, 0);
  }
  .user-authentication .user_options-forms.show-forgotPass .user_forms-login {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(-120%, 0, 0);
            transform: translate3d(-120%, 0, 0);
  }
  .user-authentication .user_options-forms.bounceLeft {
    -webkit-animation: bounceLeft 1s forwards;
    animation: bounceLeft 1s forwards;
  }
  .user-authentication .user_options-forms.bounceLeft .user_forms-signup {
    -webkit-animation: showSignUp 1s forwards;
    animation: showSignUp 1s forwards;
  }
  .user-authentication .user_options-forms.bounceLeft .user_forms-login {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translate3d(-120px, 0, 0);
    transform: translate3d(-120px, 0, 0);
  }
  .user-authentication .user_options-forms.bounceRight {
    -webkit-animation: bounceRight 1s forwards;
    animation: bounceRight 1s forwards;
  }
  @media screen and (max-width: 580px) {
    .user-authentication .user_options-text {
      display: none;
    }
    .user-authentication .user_options-forms {
      width: 96%;
      left: 0;
      min-height: 400px !important;
      -webkit-transform: translate3d(2%, -50%, 0);
              transform: translate3d(2%, -50%, 0);
    }
    .user-authentication .user_options-forms .forms_buttons-mb-button {
      display: block;
      border: 2px solid #e8716d;
      color: #e8716d;
      padding: 10px 26px;
      margin: 20px auto;
      font-size: 16px;
      border-radius: 3px;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      transition-duration: 300ms;
    }
    .user-authentication .user_options-forms .forms_buttons-mb-button:hover {
      background-color: #e8716d;
      color: #fff;
    }
    .user-authentication .user_options-forms .forms_title {
      margin-bottom: 20px;
      text-align: center;
    }
  }
  @media screen and (max-width: 990px) {
    .user-authentication .user_options-container {
      width: 90%;
    }
    .user-authentication .user_options-forms {
      min-height: 360px;
    }
    .user-authentication .user_options-forms .forms_buttons {
      flex-direction: column;
    }
    .user-authentication .user_options-forms .user_forms-login {
      top: 40px;
    }
    .user-authentication .user_options-forms .user_forms-login .forms_buttons-action {
      margin-top: 30px;
    }
    .user-authentication .user_options-forms .user_forms-signup {
      top: 40px;
    }
    .user-authentication .user_options-registered,
    .user-authentication .user_options-unregistered {
      padding: 50px 45px;
    }
  }
  @-webkit-keyframes bounceLeft {
    0% {
      -webkit-transform: translate3d(100%, -50%, 0);
      transform: translate3d(100%, -50%, 0);
    }
    50% {
      -webkit-transform: translate3d(-30px, -50%, 0);
      transform: translate3d(-30px, -50%, 0);
    }
    100% {
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
  }
  @keyframes bounceLeft {
    0% {
      -webkit-transform: translate3d(100%, -50%, 0);
      transform: translate3d(100%, -50%, 0);
    }
    50% {
      -webkit-transform: translate3d(-30px, -50%, 0);
      transform: translate3d(-30px, -50%, 0);
    }
    100% {
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
  }
  @-webkit-keyframes bounceRight {
    0% {
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
    50% {
      -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
      transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
      -webkit-transform: translate3d(100%, -50%, 0);
      transform: translate3d(100%, -50%, 0);
    }
  }
  @keyframes bounceRight {
    0% {
      -webkit-transform: translate3d(0, -50%, 0);
      transform: translate3d(0, -50%, 0);
    }
    50% {
      -webkit-transform: translate3d(calc(100% + 30px), -50%, 0);
      transform: translate3d(calc(100% + 30px), -50%, 0);
    }
    100% {
      -webkit-transform: translate3d(100%, -50%, 0);
      transform: translate3d(100%, -50%, 0);
    }
  }
  @-webkit-keyframes showSignUp {
    100% {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes showSignUp {
    100% {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  
.forms_fieldset {
    border: 0px solid;
  }