doctype html
head
  title Welcome to My  Restaurant
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='/assets/style.css')
  link(href='https://fonts.googleapis.com/css?family=Roboto+Mono' rel='stylesheet')
.wrapper
  header
    .container
      #branding
        h1
          span.highlight Fast
          | -Food-
          span.highlight Fast
      nav.nav
        ul
          li
            a(href='login.html') Login
          li
            a(href='signup.html') Signup
          li
            a(href='cart.html')
              span.highlight Cart
      .hamburger(onclick="(function () {document.querySelector('.nav').style.display = 'block'; })()")
        div
        div
        div
  section.showcase
    .desc
      h2 Hot &amp; Spicy Fast Food
      p We Deliver To Your Doorstep
      button.order-btn(type='submit') Order Now
    .image
      img(src='/assets/images/noodles.png' alt='Noodles')
  section.prompt
    .container
      h3 Popular products
      p Browse all popular fast food
  section.recipes
    .container
      .meals
        img(src='/assets/images/cake-1971552__340.jpg')
        h3 Ultimate pancakes
        p &#x20A6;3,000.00
        button.select-btn(type='submit') Add to Cart
      .meals
        img(src='/assets/images/casserole-dish-2776735__340.jpg')
        h3 Ultimate pancakes
        p &#x20A6;3,000.00
        button.select-btn(type='submit') Add to Cart
      .meals
        img(src='/assets/images/fig-3640553__340.jpg')
        h3 Ultimate pancakes
        p &#x20A6;3,000.00
        button.select-btn(type='submit') Add to Cart
      .meals
        img(src='/assets/images/grapes-690230__340.jpg')
        h3 Ultimate pancakes
        p &#x20A6;3,000.00
        button.select-btn(type='submit') Add to Cart
      .meals
        img(src='/assets/images/eat-2834549__340.jpg')
        h3 Ultimate pancakes
        p &#x20A6;3,000.00
        button.select-btn(type='submit') Add to Cart
      .meals
        img(src='/assets/images/piza-3010062__340.jpg')
        h3 Ultimate pancakes
        p &#x20A6;3,000.00
        button.select-btn(type='submit') Add to Cart
      .meals
        img(src='/assets/images/morning-819362__340.jpg')
        h3 Ultimate pancakes
        p &#x20A6;3,000.00
        button.select-btn(type='submit') Add to Cart
      .meals
        img(src='/assets/images/pancakes-2291908__340.jpg')
        h3 Ultimate pancakes
        p &#x20A6;3,000.00
        button.select-btn(type='submit') Add to Cart
  footer
    p
      | &copy;2018 Fast-Food-Fast | Built by 
      span.highlight TechGuru Team
